.app {
  max-width: 1000px;
  margin: 30px auto 0;

  &__title {
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0,.15);
    color: #fff;
    padding: 25px;
    text-align: center;
  }
}

.search-panel {
  background-color: #3d5a80;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
  color: #fff;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}